# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

/bin

/build

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.mtj
.settings/org.eclipse.jdt.core.prefs
src.rar
deployed/
build.properties
.idea/*
vikatouch.iml
serverdata/